{% extends "app/layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Job Position</h2>
            <form id="positionForm" method="post" action="{% url 'position_create' %}" class="form-horizontal">
                {% csrf_token %}
                {{ form.as_div }}
                <input type="hidden" name="company_key" value="{{ company_key }}">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary"
                    onclick="    if (history.length > 1) { history.back(); } else { window.location.href = {% if company_pk %} '{% url 'company_update' company_pk %}'{% else %}'{% url 'companies/company_list' %}'{% endif %}; }">Exit
                </button>

            </form>
        </div>
    </div>
</div>



{% endblock %}
