################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/D6BA018ADE925546A7904BD273A7FBCA
/EmploymentSearch_python/.vs/EmploymentSearch_backend_python.slnx/copilot-chat/d6f921c2/sessions
/.vs/CopilotSnapshots
